<h1>Pessoas:</h1>

<div class="card-container">
  <div *ngFor="let pessoa of pessoas" class="card" (click)="abrirCard(myDialog, pessoa.id)">
    <img src="assets/deletaricon.png" width="20" height="20" class="delete-icon" (click)="apagarPessoa(pessoa.id)">
    <h2>Nome</h2>
    <h3>{{ pessoa.nome }}</h3>
    <h2>Idade</h2>
    <h3>{{ pessoa.idade }}</h3>
    <input type="hidden" id="idPessoa" name="pessoaIdNome" value="{{pessoa.id}}" />
    <!-- <button>apagar</button> -->
  </div>
</div>

<ng-template #myDialog>
  <div class="popup-overlay">
    <div class="popup-content">
      <img src="assets/fecharicon.png" alt="Fechar" class="close-btn" (click)="fecharCard()"/>
      <!-- <button class="close-btn">
      </button> -->
  
      <!-- Parte rolável -->
      <div class="popup-scroll">
        <h2>Nome</h2>
        <h3>{{pessoaSelecionada.nome}}</h3>
        <h2>Idade</h2>
        <h3>{{pessoaSelecionada.idade}}</h3>
        <h2>Telefone</h2>
        <input type="text" name="telefone" id="telefoneId" value="{{pessoaSelecionada.telefone}}">
        <h2>Endereço</h2>
        <input type="text" name="endereco" id="enderecoId" value="{{pessoaSelecionada.endereco}}">
        <h2>CPF</h2>
        <input type="text" name="cpf" id="cpfId" value="{{pessoaSelecionada.cpf}}">
      </div>
  
      <!-- Botão Salvar fora do scroll -->
      <button class="salvar-btn" (click)="atualizarPessoa()">Salvar</button>
    </div>
  </div>
  
</ng-template> 